$light: #FFF;
$light-trans: rgba(255,255,255,.75);
$dark: #000;
$color: blue;
$color-alt: red;

.group:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body {
	//background-image: url('../img/lamppost4.jpg');
	//background-size: cover;
	//background-position: center center;
}

section article {
	width: 100vw;
	height: 100vh;
	display: table;
	div.inner {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		div.group {
			//box-shadow: 2px 2px 12px $dark;
			max-width: 500px;
			margin: 0 auto;
			position: relative;
			h1 {
				margin: 0;
				padding: 25px 100px 0px 10px;
				border-top: 5px solid $dark;
				background-color: #ccc;
				font-size: 2em;
				font-weight: bold;
				color: $dark;
			}
			h2 {
				padding: 10px 50px 25px 10px;
				margin: 0;
				background-color: #ccc;
				font-size: 1em;
				color: $dark;
			}
			div.item {
				width: 100%;
				margin: 0;
				padding: 0;
				img {
					width: 100%;
					display: block;
				}
			}
		}
		p.action {
			text-align: center;
			margin-top: 50px;
			span {
				font-weight: bold;
			}
			a {
				display: inline-block;
				padding: 8px 18px;
				margin-left: 10px;
				background-color: $color;
				color: $light;
				text-decoration: none;
				border-radius: 5px;
			}
			a:hover {
				background-color: $color-alt;
			}
		}
	}
}