$light: #f5f5f5;
$light-trans: rgba(255,255,255,.75);
$dark: #141213;
$color: blue;
$color-alt: red;

.group:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
	background-color: $light;
}
body {
	background-image: url('../img/lamppost.jpg');
	background-size: cover;
	background-position: center center;
}

div.share {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	padding: 10px 5px;
	a, a:visited {
		padding: 0 10px;
		color: $color;
	}
	a:hover {
		color: $color-alt;
	}
}

section article {
	width: 100vw;
	height: 100vh;
	display: table;
	div.inner {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		h1 {
			max-width: 750px;
			margin: 25px auto 0;
			font-size: 4em;
			font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
			color: $dark;
			text-align: center;
		}
		h2 {
			max-width: 750px;
			margin: 25px auto 0;
			font-size: 1.6em;
			font-family: 'Gotham A', 'Gotham B'; font-weight: 700; font-style: italic;
			color: $dark;
			text-align: center;
		}
		div.group {
			//box-shadow: 2px 2px 12px $dark;
			max-width: 400px;
			margin: 0 auto 0;
			position: relative;
			span.batch {
				display: block;
				position: absolute;
				bottom: 50px;
				right: 25px;
				width: 75px;
				height: 75px;
				line-height: 75px;
				text-align: center;
				border-radius: 50%;
				border: 5px solid;
				font-weight: bold;
				font-size: 3em;
				-ms-transform: rotate(3deg);
					-webkit-transform: rotate(3deg);
					transform: rotate(3deg);
			}
			div.item {
				width: 100%;
				margin: 0;
				padding: 0;
				img {
					width: 100%;
					display: block;
				}
			}
		}
		p.action {
			text-align: center;
			margin-top: 50px;
			span {
				font-weight: 800;
			}
			a {
				display: inline-block;
				padding: 8px 18px;
				margin-left: 10px;
				background-color: $color;
				color: $light;
				text-decoration: none;
				border-radius: 5px;
			}
			a:hover {
				background-color: $color-alt;
			}
		}
	}
}