/* line 23, ../sass/main.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 28, ../sass/main.scss */
.not-active {
  pointer-events: none;
  cursor: default;
}

/* line 32, ../sass/main.scss */
.not-active:hover {
  color: inherit !important;
}

/* line 35, ../sass/main.scss */
html, body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Archer A', 'Archer B';
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
}

/* line 44, ../sass/main.scss */
body {
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: 0% 0%;
}
@media only screen and (max-width: 1023px) {
  /* line 44, ../sass/main.scss */
  body {
    background-image: url("../img/lamppost_center.jpg");
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 44, ../sass/main.scss */
  body {
    background-image: url("../img/lamppost.jpg");
  }
}

/* line 56, ../sass/main.scss */
h1, h2 {
  font-family: 'Archer A', 'Archer B';
  font-weight: 800;
  font-style: normal;
}

/* line 60, ../sass/main.scss */
section article {
  float: left;
  padding: 0;
  display: table;
}
@media only screen and (max-width: 1023px) {
  /* line 60, ../sass/main.scss */
  section article {
    width: 100vw;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 60, ../sass/main.scss */
  section article {
    width: 60vw;
    min-height: 100vh;
  }
}
/* line 71, ../sass/main.scss */
section article div.inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
/* line 75, ../sass/main.scss */
section article div.inner div.group {
  max-width: 60%;
  margin: 0 auto 0;
  position: relative;
}
@media only screen and (max-width: 320px) {
  /* line 75, ../sass/main.scss */
  section article div.inner div.group {
    width: 80vw;
  }
}
/* line 82, ../sass/main.scss */
section article div.inner div.group div.item {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 86, ../sass/main.scss */
section article div.inner div.group div.item img {
  width: 100%;
  display: block;
}

/* line 95, ../sass/main.scss */
section aside {
  float: left;
  display: table;
}
@media only screen and (max-width: 1023px) {
  /* line 95, ../sass/main.scss */
  section aside {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    position: absolute;
    bottom: 0;
    background-color: rgba(20, 18, 19, 0.5);
    padding: 5px 25px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 95, ../sass/main.scss */
  section aside {
    width: calc( 40vw - 50px );
    min-height: 100vh;
    padding: 0px 50px 0 0;
  }
}
/* line 112, ../sass/main.scss */
section aside div.inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
/* line 116, ../sass/main.scss */
section aside div.inner div.group {
  max-width: 500px;
  margin: 0 auto 0;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  /* line 122, ../sass/main.scss */
  section aside div.heading {
    color: #f5f5f5;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 122, ../sass/main.scss */
  section aside div.heading {
    color: #141213;
  }
}
/* line 129, ../sass/main.scss */
section aside div.heading h1 {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1023px) {
  /* line 129, ../sass/main.scss */
  section aside div.heading h1 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 129, ../sass/main.scss */
  section aside div.heading h1 {
    font-size: 4em;
  }
}
/* line 139, ../sass/main.scss */
section aside div.heading h2 {
  padding: 0;
}
@media only screen and (max-width: 1023px) {
  /* line 139, ../sass/main.scss */
  section aside div.heading h2 {
    margin: 5px 0 0;
    font-size: 1em;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 139, ../sass/main.scss */
  section aside div.heading h2 {
    margin: 25px 0 0;
    font-size: 1.6em;
  }
}
/* line 151, ../sass/main.scss */
section aside div.heading span.batch {
  display: block;
  position: absolute;
  top: -37px;
  right: -37px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid;
  font-weight: bold;
  font-size: 3em;
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* line 169, ../sass/main.scss */
section aside div.share {
  padding: 10px 0px;
}
/* line 171, ../sass/main.scss */
section aside div.share a, section aside div.share a:visited {
  padding: 0 10px;
}
@media only screen and (max-width: 1023px) {
  /* line 171, ../sass/main.scss */
  section aside div.share a, section aside div.share a:visited {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 171, ../sass/main.scss */
  section aside div.share a, section aside div.share a:visited {
    font-size: 2em;
  }
}
/* line 181, ../sass/main.scss */
section aside div.share a:first-child {
  padding-left: 0px;
}
/* line 188, ../sass/main.scss */
section aside div.action {
  padding: 10px 0px;
}
/* line 190, ../sass/main.scss */
section aside div.action span {
  font-weight: 800;
}
/* line 193, ../sass/main.scss */
section aside div.action a {
  display: block;
  width: auto;
  padding: 8px 0px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}
/* line 204, ../sass/main.scss */
section aside div.action a:hover {
  color: #f5f5f5;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* line 214, ../sass/main.scss */
  section aside {
    padding: 5px 15px;
  }

  /* line 217, ../sass/main.scss */
  section aside div.heading h1 {
    font-size: 1.8em !important;
  }

  /* line 220, ../sass/main.scss */
  section aside div.heading h2 {
    font-size: .9em !important;
  }

  /* line 223, ../sass/main.scss */
  section aside div.share {
    padding: 5px 0px !important;
  }

  /* line 226, ../sass/main.scss */
  section aside div.share a, a:visited {
    padding: 0 5px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 233, ../sass/main.scss */
  section aside {
    padding: 3px 10px;
  }

  /* line 236, ../sass/main.scss */
  section aside div.heading h1 {
    font-size: 1.6em !important;
  }

  /* line 239, ../sass/main.scss */
  section aside div.heading h2 {
    font-size: .8em !important;
  }

  /* line 242, ../sass/main.scss */
  section aside div.share {
    padding: 5px 0px !important;
  }

  /* line 245, ../sass/main.scss */
  section aside div.share a, a:visited {
    padding: 0 5px !important;
  }
}
/* line 250, ../sass/main.scss */
div.IE-fallback {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  text-align: center;
}
/* line 259, ../sass/main.scss */
div.IE-fallback a {
  margin-right: 15px;
  border: none;
  outline: none;
  display: inline-block;
}
/* line 260, ../sass/main.scss */
div.IE-fallback a img {
  width: 50px;
  height: auto;
  border: none;
  outline: none;
}
/* line 270, ../sass/main.scss */
div.IE-fallback a:last-child {
  margin-right: 0px;
}
